@import "../../../index.scss";

.company-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 50px;

  padding: 50px 0;

  .company-info-modal {
    width: 300px;
    height: 300px;

    .company-info-icon {
      height: 80px;
      width: 80px;
    }

    .company-info-title {
      font-size: 15px;
      display: flex;
      align-items: center;
      height: 30%;
      color: $white-color;
    }

    .company-info-text {
      font-size: 15px;
      height: 40%;
      color: $text-color;
    }
  }
}
