.main-section {
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  .main-img {
    width: 50%;
    align-self: center;
    height: max(100%, 1300px);
  }

  .main-info {
    display: flex;
    flex-direction: column;
    width: min(50%, 700px);
    margin: 150px 0;

    .main-line-vector {
      height: 5px;
      width: 30%;
      background: var(--yellow-color);
      border-radius: 20px;
    }

    .main-title {
      color: var(--yellow-color);
      font-size: 64px;
      line-height: 60px;
      margin: 0;

      .main-subtitle {
        display: block;
        color: var(--white-color);
      }
    }

    .main-text {
      font-size: 20px;
      color: var(--text-color);
      margin-bottom: 50px;
      width: 90%;
      height: fit-content;
    }
  }
}
