@import "../../../index.scss";

.hero-section {
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  .hero-img {
    width: 50%;
    align-self: center;
    height: max(100%, 1300px);
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    width: min(50%, 700px);
    margin: 150px 0;

    .hero-line-vector {
      height: 5px;
      width: 30%;
      background: $yellow-color;
      border-radius: 20px;
    }

    .hero-title {
      color: $yellow-color;
      font-size: 64px;
      line-height: 60px;
      margin: 0;

      .hero-subtitle {
        display: block;
        color: $white-color;
      }
    }

    .hero-text {
      font-size: 20px;
      color: $text-color;
      margin-bottom: 50px;
      width: 90%;
      height: fit-content;
    }
  }
}
