@import "../../index.scss";

.about-route {
  margin: 10vh auto;
  width: min(1920px, 100vw);

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;

    .about-image {
      width: min(1200px, 100%);
    }

    .about-text-modal {
      width: 100%;

      .about-text {
        font-size: 18px;
        text-align: initial;
        color: $white-color;

        a {
          text-decoration: none;
          color: $yellow-color;
        }
      }
    }
  }
}
