$brown-light: #624448;
$brown-dark: #4f3133;
$clickable-brown: #5f3b43;
$footer-rights-background: #3d2424;
$navbar-text-color: #978d8c;
$text-color: #c4a5a2;
$white-color: #fff6f5;
$yellow-color: #f6b65b;

@media screen and (max-width: 699px) {
  .header {
    .navbar {
      .nav-links {
        display: none;
      }

      .menu-container .menu-icon {
        display: block;
        height: 25px;
        width: 25px;
      }
    }
  }

  // Active Mobile Header
  .active {
    border-radius: 0;

    .navbar {
      flex-direction: column;
      height: fit-content;

      .nav-links {
        display: flex;
        flex-direction: column;
        gap: 15px;

        width: 100vw;
        margin: 0;
        padding: 0 0 20px 0;
        border-radius: 0 0 8px 8px;
        background: $white-color;
      }
    }
  }

  .footer {
    .footer-categories {
      flex-direction: column;

      .footer-category {
        text-align: center;
      }
    }
  }

  .hero-section {
    margin: 0;
    flex-direction: column;

    .hero-img {
      width: min(500px, 100%);
    }

    .hero-info {
      width: 100%;
      margin: 100px 0 20px 0;

      .hero-title {
        font-size: 2.8em;
        line-height: 1em;
      }

      .hero-text {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
  }

  .clients-section-container {
    .clients-container {
      .client-icon {
        height: 70px;
      }
    }
  }

  .products-route {
    .products-items-container {
      .products-items {
        .product-item {
          width: max(50%, 270px);
        }
      }
    }
  }

  .services-component {
    font-size: 14px;
    .services-container {
      width: 90%;
      flex-direction: column;

      .services-options {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        .service-option {
          width: fit-content;
        }
      }
      .services-description {
        width: fit-content;
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .hero-section {
    .hero-img {
      width: 100%;
    }

    .hero-info {
      width: 100%;
      margin: 30px 0;

      .hero-title {
        font-size: 45px;
        line-height: 40px;
      }

      .hero-text {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
  }

  .clients-section-container {
    .clients-container {
      .client-icon {
        height: 85px;
      }
    }
  }

  .products-route {
    .products-items-container {
      .products-items {
        .product-item {
          width: max(35%, 280px);
        }
      }
    }
  }

  .services-component {
    font-size: 16px;
    .services-container {
      width: 80%;
      flex-direction: column;

      .services-options {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        .service-option {
          width: fit-content;
        }
      }
      .services-description {
        width: fit-content;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .header {
    border-radius: 0 0 8px 8px;
    .navbar {
      .nav-links {
        .nav-link {
          font-size: 16px;
        }
      }
    }
  }

  .company-info-container {
    .company-info-modal {
      height: 250px;
      width: 250px;

      .company-info-icon {
        height: 60px;
      }

      .company-info-title,
      .company-info-text {
        font-size: 14px;
      }
    }
  }

  .products-section-container {
    .products-container {
      .product-modal-container {
        width: 250px;

        .product-modal {
          width: 80%;
        }
      }
    }
  }

  .about-route {
    .about-container {
      .about-text-modal {
        .about-text {
          font-size: 16px;
        }
      }
    }
  }

  .products-route {
    .products-items-container {
      .products-items {
        .product-item {
          .modal-product {
            .product-title {
              font-size: 18px;
            }

            .product-description {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .hero-section {
    .hero-info {
      .hero-text {
        font-size: 16px;
      }
    }
  }

  .products-route {
    .products-items-container {
      .products-items {
        .product-item {
          width: 300px;
        }
      }
    }
  }
}
